#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
}

p{
    margin: 10px;
}
#vinotheyy{
    
}
#heading{
    font-weight: bold;
}
table, th, td {
    border: 1px solid;
}

td {

 text-align: center;
 padding-left: 25px;
 padding-right: 25px;
 


}

#submit{
    margin: 20px;
}

